.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.row {
  display: flex;
  flex-direction: row;
}
.col-3 {
  margin-left: 10px;
  margin-right: 10px;
}
.col-3 {
  width: 220px;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.logo-hoder {
  display: flex;
  height: 30px;
  padding-top: 45px;
  padding-bottom: 45px;
}
.logo-block {
  width: 220px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.circle-logo-block {
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
  border-radius: 50%;
  background: #4c9e45;
  height: 25px;
  width: 25px;
}
.logo-hoder-text {
  text-transform: uppercase;
  font-weight: bolder;
  margin-left: 5px;
}
.navigation-block {
  width: 700px;
  height: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  justify-content: flex-end;
}
.navigation-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}
.navigation-list__list-item {
  padding-left: 30px;
}
.navigation-list__list-item a {
  color: #9b9b9b;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition: 0.2s;
  border-bottom: 0px solid #4c9e45;
  padding-bottom: 8px;
}
.navigation-list__list-item a:hover,
.navigation-list__list-item a:focus,
.navigation-list__list-item a:active {
  color: #4c9e45;
  border-bottom: 1px solid #4c9e45;
  padding-bottom: 2px;
  text-decoration: none;
  outline: none;
}
.navigation-list__list-item a:active {
  color: #ff8000;
  border-bottom: 1px solid #ff8000;
  padding-bottom: 2px;
  text-decoration: none;
}
