@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.container-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}
.heading-block {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  align-content: center;
  align-items: center;
}
.container-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.latest-project {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.latest-project-content-block {
  width: 80%;
  margin-left: 20%;
}
* {
  box-sizing: border-box;
}
.image-overlay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.644);
}
.text {
  line-height: 22px;
}
.bgr-color {
  background-color: #eeeeee;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}
.logo-hoder {
  display: flex;
  height: 30px;
  padding-top: 45px;
  padding-bottom: 45px;
}
.container-fluid {
  width: 100%;
}
.logo-block {
  width: 220px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.circle-logo-block {
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
  border-radius: 50%;
  background: #3db39e;
  height: 25px;
  width: 25px;
}
.logo-hoder-text {
  text-transform: uppercase;
  font-weight: bolder;
  color: #2c2c2c;
  margin-left: 5px;
}
.navigation-block {
  width: 700px;
  height: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  justify-content: flex-end;
}
.navigation-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}
.navigation-list__list-item {
  padding-left: 30px;
}
.navigation-list__list-item a {
  color: #9b9b9b;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition: 0.2s;
  border-bottom: 0px solid #3db39e;
  padding-bottom: 8px;
}
.navigation-list__list-item a:hover,
.navigation-list__list-item a:focus,
.navigation-list__list-item a:active {
  color: #3db39e;
  border-bottom: 1px solid #3db39e;
  padding-bottom: 2px;
  text-decoration: none;
  outline: none;
}
.navigation-list__list-item a:active {
  color: #ff8000;
  border-bottom: 1px solid #ff8000;
  padding-bottom: 2px;
  text-decoration: none;
}
.heading-block {
  margin-bottom: 60px;
  text-align: center;
}
.heading-1 {
  font-size: 60px;
  line-height: 65px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin-top: 0;
  margin-bottom: 20px;
}
.heading-2 {
  font-size: 45px;
  line-height: 65px;
  font-weight: 700;
  color: #2c2c2c;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin-bottom: 10px;
}
.subtitle {
  font-size: 20px;
  color: #808080;
}
.subtitle.subtitle--header {
  color: #fff;
  margin-bottom: 50px;
}
.col-1-of-3 {
  width: 300px;
  text-align: center;
}
.latest-project-heading-block {
  margin-top: 60px;
  margin-bottom: 40px;
}
.heading-4 {
  color: #2c2c2c;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 15px;
}
.heading-4-bottom10 {
  margin-bottom: 5px;
}
.text {
  color: #2c2c2c;
  font-size: 16px;
}
.bgr-photo-header {
  height: 530px;
  background-image: url(../img/bgr/bgr_header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.header-content {
  width: 620px;
}
.button {
  height: 60px;
  background-color: #3db39e;
  border-radius: 40px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  text-shadow: 1px 1px 10px #0e201d;
  border: 2px solid #3db39e;
  transition: 0.3s;
}
.button:hover,
.button:focus,
.button:active {
  border: 2px solid #fff;
  transition: 0.3s;
}
.button:active {
  color: #ff8000;
}
.special-bgr-block {
  height: 530px;
  display: flex;
  justify-content: left;
}
.special-bgr-block__heading-2 {
  color: #fff;
  margin-bottom: 30px;
}
.special-bgr-block__and {
  color: #3db39e;
}
.special-bgr-block__subtitle {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 30px;
}
.special-bgr-block__list-check {
  list-style-type: none;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 50px;
}
.special-bgr-block__list-check li {
  position: relative;
  padding-left: 33px;
  margin-bottom: 20px;
}
.special-bgr-block__list-check li:last-child {
  margin-bottom: 0px;
}
.special-bgr-block__list-check li:before {
  content: "";
  background-image: url(../img/icons/checked.svg);
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
}
.special-bgr-block-icon {
  width: 30%;
  background-color: #eeeeee;
  position: relative;
}
.special-bgr-block-icon:after {
  display: block;
  width: 200px;
  height: 100%;
  position: absolute;
  content: "";
  background-image: url(../img/bgr/bgr_gear.png);
  background-repeat: no-repeat;
  background-position: left center;
  right: 0px;
  top: 0px;
}
.special-bgr-block-photo {
  width: 70%;
  background-image: url(../img/bgr/brg_just_relax.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
.special-bgr-block-content {
  width: 700px;
  margin-left: 100px;
}
.block-content {
  display: flex;
  justify-content: flex-start;
}
.container-items-list {
  list-style-type: none;
}
.container-items-list li {
  height: 44px;
  margin-bottom: 30px;
}
.container-items-list li:first-child {
  margin-top: 20px;
}
.list-icon {
  margin-right: 10px;
  float: left;
  width: 44px;
  height: 44px;
}
.view-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #3db39e;
  margin-top: 20px;
  font-size: 16px;
  transition: 0.2s;
  border-bottom: 0px solid #3db39e;
  padding-bottom: 8px;
}
.view-link:hover,
.view-link:focus,
.view-link:active {
  color: #3db39e;
  border-bottom: 1px solid #3db39e;
  padding-bottom: 2px;
  text-decoration: none;
  outline: none;
}
.view-link:active {
  color: #ff8000;
  border-bottom: 1px solid #ff8000;
  padding-bottom: 2px;
  text-decoration: none;
}
.bottom20 {
  margin-bottom: 20px;
}
.latest-project-content-block {
  display: flex;
}
.content-brg-photo {
  height: 500px;
  width: 100%;
  background: #3DB39E;
}
.content-brg-photo {
  background-image: url(../img/bgr/tablets_0.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
.container-items__icon {
  height: 64px;
  width: 64px;
}
.block-clients {
  margin-top: 50px;
}
.block-comments {
  display: flex;
  flex-direction: column;
}
.photo-client {
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-client img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
}
.comment-client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #eeeeee;
  width: 600px;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
.comments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}
.comments:last-child {
  padding-bottom: 0;
}
.comment-client-text {
  font-size: 1.125em;
  margin-bottom: 0.9em;
}
.comment-client-quote {
  font-size: 0.9em;
  font-style: italic;
}
.next-project {
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color: #3db39e;
  margin-top: 60px;
}
.next-project__heading-2 {
  margin: auto;
  text-transform: uppercase;
  font-size: 2.2em;
  color: #fff;
  margin-top: 65px;
  margin-bottom: 25px;
}
.next-project__contact {
  height: 46px;
  width: 174px;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: auto;
  background-color: #3db39e;
  font-size: 1.125em;
  text-transform: uppercase;
  color: #fff;
  font-weight: bolder;
  margin-bottom: 60px;
  transition: 0.3s;
}
.next-project__contact:hover,
.next-project__contact:focus,
.next-project__contact:active {
  border: 2px solid rgba(183, 253, 240, 0.61);
  color: rgba(183, 253, 240, 0.61);
  transition: 0.3s;
  outline: none;
}
.next-project__contact:active {
  color: #ff8000;
}
.block-logos {
  display: flex;
  height: 90px;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
.block-logo-item {
  width: 190px;
  height: 45px;
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0px solid #3db39e;
  transition: 0.2s;
}
.block-logo-item:hover,
.block-logo-item:focus,
.block-logo-item:active {
  border-bottom: 2px solid #3db39e;
  padding-bottom: 2px;
}
.block-logo-item:active {
  border-bottom: 2px solid #ff8000;
  padding-bottom: 2px;
}
.footer {
  color: #ffffff;
  font-size: 0.8em;
  font-weight: 400;
}
.footer p,
.footer a {
  margin-top: auto;
  margin-bottom: auto;
}
.container-color-brg {
  background-color: #222222;
}
.block-footer {
  display: flex;
  flex-direction: column;
}
.item {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 40px 0;
}
.info-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.info-items a {
  text-decoration: none;
  color: #fff;
}
.info-items a:hover {
  color: #3DB39E;
}
.info-items__contacts {
  margin-left: 30px;
}
.info-items__tweets {
  margin-right: 30px;
}
.heading-5 {
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 700;
  margin-bottom: 1.2em;
}
.list-block {
  display: flex;
  margin-bottom: 0.9em;
}
.list-block:last-child {
  margin-bottom: 0;
}
.list-block img {
  height: 18px;
  width: 18px;
  margin-left: 0;
  margin-right: 0.5em;
}
.info-items__tweets {
  line-height: 140%;
}
.info-items__tweets span {
  color: gray;
  font-weight: normal;
  font-size: 0.8em;
  font-style: italic;
}
.twitter-tags {
  display: block;
}
.twitter-time {
  display: block;
}
.social-items {
  height: 80px;
  display: flex;
  justify-content: center ;
  align-items: center;
}
.social-items p {
  margin-left: 40px;
  color: gray;
  font-weight: normal;
  font-size: 0.75em;
}
.social-logo {
  margin-left: 18%;
}
.social-logo img {
  height: 44px;
  width: 44px;
  margin-right: 15px;
}
.social-logo img:last-child {
  margin-right: 0;
}
