@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 35px;
}
@media (max-width: 940px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.container-fluid {
  width: 100%;
}
@media (max-width: 940px) {
  .container-padding {
    padding-bottom: 30px;
  }
}
.heading-block {
  display: flex;
  flex-direction: column;
}
.container-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 940px) {
  .container-items {
    flex-direction: column;
  }
}
.latest-project {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.latest-project-content-block {
  width: 80%;
  margin-left: 20%;
}
@media (max-width: 940px) {
  .latest-project-content-block {
    margin: 0;
  }
}
.image-overlay {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.644);
}
* {
  box-sizing: border-box;
  font-size: 1em;
}
.text {
  line-height: 22px;
}
.bgr-color {
  background-color: #eeeeee;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}
.button {
  height: 60px;
  width: 250px;
  background-color: #3db39e;
  border-radius: 40px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  text-shadow: 1px 1px 10px #0e201d;
  border: 2px solid #3db39e;
  transition: 0.3s;
}
.button:hover,
.button:focus,
.button:active {
  border: 2px solid #fff;
  transition: 0.3s;
}
.button:active {
  color: #ff8000;
}
.heading-block {
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  text-align: center;
}
@media (max-width: 940px) {
  .heading-block {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
.heading-1 {
  font-size: 3.75em;
  line-height: 1.1;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin-top: 0;
  margin-bottom: 20px;
}
.heading-2 {
  font-size: 2.8em;
  line-height: 1.1;
  font-weight: 700;
  color: #2c2c2c;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin-bottom: 10px;
}
@media (max-width: 940px) {
  .heading-2 {
    margin-bottom: 12px;
  }
}
.subtitle {
  font-size: 1.25em;
  color: #808080;
}
.subtitle.subtitle--header {
  color: #fff;
  margin-bottom: 50px;
}
.col-1-of-3 {
  width: 300px;
  text-align: center;
}
.heading-4 {
  color: #2c2c2c;
  font-size: 1.25em;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 15px;
}
.heading-4-bottom10 {
  margin-bottom: 5px;
}
.text {
  color: #2c2c2c;
}
.container-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo-block__img {
  height: 44px;
  width: 44px;
}
.logo-block__text {
  display: block;
  text-transform: uppercase;
  font-weight: bolder;
  color: #2c2c2c;
  margin-left: 10px;
  font-size: 1.5em;
}
.menu {
  display: flex;
  justify-content: flex-end;
}
.menu__links-item {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bolder;
  color: #9b9b9b;
  margin-left: 35px;
  text-decoration: none;
  border-bottom: 0px solid #3db39e;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: 0.2s;
}
.menu__links-item:hover,
.menu__links-item:focus,
.menu__links-item:active {
  color: #3db39e;
  border-bottom: 1px solid #3db39e;
  padding-bottom: 2px;
  text-decoration: none;
  outline: none;
}
.menu__links-item:active {
  color: #ff8000;
  border-bottom: 1px solid #ff8000;
  padding-bottom: 2px;
  text-decoration: none;
}
.menu-mobile {
  display: none;
  position: relative;
  cursor: pointer;
  height: 40px;
  width: 40px;
}
.menu-mobile span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #333333;
  border-radius: 4px;
  opacity: 1;
  right: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  box-shadow: 0px 0px 5px #fff;
}
.menu-mobile span:nth-child(1) {
  width: 100%;
  top: 0;
}
.menu-mobile span:nth-child(2) {
  top: 13px;
  width: 70%;
}
.menu-mobile span:nth-child(3) {
  top: 13px;
  width: 70%;
}
.menu-mobile span:nth-child(4) {
  top: 26px;
  width: 50%;
}
@media (max-width: 940px) {
  .container-navigation {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .menu {
    height: 40px;
    width: 40px;
  }
  .menu-mobile {
    display: inline-block;
    position: fixed;
    z-index: 1001;
  }
  .menu__links {
    position: fixed;
    display: none;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
  }
  .menu__links-item {
    display: block;
    margin-left: 0;
    padding-top: 35px;
    padding-right: 40px;
    padding-bottom: 0;
    text-align: right;
    color: #fff;
  }
  .menu__links-item:first-child {
    padding-top: 0;
  }
  .menu__links-item:hover,
  .menu__links-item:focus,
  .menu__links-item:active {
    color: #3db39e;
    border-bottom: none;
    padding-bottom: 0;
    text-decoration: none;
    outline: none;
  }
  .menu__links-item:active {
    color: #ff8000;
    border-bottom: none;
    padding-bottom: 0;
    text-decoration: none;
  }
}
.menu.menu_state_open .menu-mobile span:nth-child(1) {
  display: none;
  top: 18px;
  width: 0;
  left: 0;
}
.menu.menu_state_open .menu-mobile span:nth-child(4) {
  display: none;
  top: 18px;
  width: 0;
  left: 50%;
}
.menu.menu_state_open .menu-mobile span:nth-child(2) {
  transform: rotate(45deg);
}
.menu.menu_state_open .menu-mobile span:nth-child(3) {
  transform: rotate(-45deg);
}
.menu.menu_state_open .menu__links {
  display: block;
  padding-top: 80px;
  padding-bottom: 35px;
}
.bgr-photo-header {
  height: 530px;
  background-image: url(../img/bgr/bgr_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.header-content {
  width: 620px;
}
@media (max-width: 940px) {
  .header-content {
    width: 100%;
  }
}
.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.special-bgr-block {
  height: 530px;
  display: flex;
  justify-content: left;
}
.special-bgr-block__heading-2 {
  color: #fff;
  margin-bottom: 30px;
}
.special-bgr-block__and {
  color: #3db39e;
}
.special-bgr-block__subtitle {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 30px;
}
.special-bgr-block__list-check {
  list-style-type: none;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 50px;
}
.special-bgr-block__list-check li {
  position: relative;
  padding-left: 33px;
  margin-bottom: 20px;
}
.special-bgr-block__list-check li:last-child {
  margin-bottom: 0px;
}
.special-bgr-block__list-check li:before {
  content: "";
  background-image: url(../img/icons/checked.svg);
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
}
@media (max-width: 940px) {
  .special-bgr-block__list-check {
    margin-bottom: 30px;
  }
}
.special-bgr-block-icon {
  width: 30%;
  background-color: #eeeeee;
  position: relative;
}
@media (max-width: 940px) {
  .special-bgr-block-icon {
    display: none;
    width: 100%;
  }
}
.special-bgr-block-icon:after {
  display: block;
  width: 200px;
  height: 100%;
  position: absolute;
  content: "";
  background-image: url(../img/bgr/bgr_gear.png);
  background-repeat: no-repeat;
  background-position: left center;
  right: 0px;
  top: 0px;
}
.special-bgr-block-photo {
  width: 70%;
  background-image: url(../img/bgr/brg_just_relax.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
@media (max-width: 940px) {
  .special-bgr-block-photo {
    width: 100%;
  }
}
.special-bgr-block-content {
  width: 700px;
}
.block-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 100px;
}
@media (max-width: 940px) {
  .block-content {
    width: 100%;
    margin: 30px 20px;
  }
}
@media (max-width: 940px) {
  .special-btn {
    width: 100%;
  }
}
.latest-project {
  width: 100%;
}
@media (max-width: 940px) {
  .latest-project {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
  }
}
.container-items-list {
  list-style-type: none;
}
.container-items-list li {
  height: 44px;
  margin-bottom: 30px;
}
.container-items-list li:first-child {
  margin-top: 20px;
}
.list-icon {
  margin-right: 10px;
  float: left;
  width: 44px;
  height: 44px;
}
.view-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #3db39e;
  margin-top: 20px;
  font-size: 16px;
  transition: 0.2s;
  border-bottom: 0px solid #3db39e;
  padding-bottom: 8px;
}
.view-link:hover,
.view-link:focus,
.view-link:active {
  color: #3db39e;
  border-bottom: 1px solid #3db39e;
  padding-bottom: 2px;
  text-decoration: none;
  outline: none;
}
.view-link:active {
  color: #ff8000;
  border-bottom: 1px solid #ff8000;
  padding-bottom: 2px;
  text-decoration: none;
}
.bottom20 {
  padding-top: 15px;
  padding-bottom: 20px;
}
.latest-project-content-block {
  display: flex;
}
@media (max-width: 940px) {
  .latest-project-content-block {
    width: 100%;
  }
}
.content-brg-photo {
  height: 500px;
  width: 100%;
  background: #3DB39E;
}
@media (max-width: 940px) {
  .content-brg-photo {
    display: none;
  }
}
.content-brg-photo {
  background-image: url(../img/bgr/tablets_0.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
.container-items__icon {
  height: 64px;
  width: 64px;
}
@media (max-width: 940px) {
  .container-items__icon {
    height: 44px;
    width: 44px;
  }
}
@media (max-width: 940px) {
  .col-1-of-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
    align-items: stretch;
    text-align: left;
  }
  .col-1-of-3:last-child {
    margin-bottom: 0;
  }
  .col-1-of-3 h4 {
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  .col-1-of-3 p {
    margin-top: 15px;
  }
  .col-1-of-3 img {
    margin-right: 15px;
  }
}
.block-comments {
  display: flex;
  flex-direction: column;
}
.photo-client {
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-client img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
}
@media (max-width: 940px) {
  .photo-client img {
    height: 80px;
    width: 80px;
  }
}
.comment-client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #eeeeee;
  width: 600px;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
.comments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}
.comments:last-child {
  padding-bottom: 0;
}
@media (max-width: 940px) {
  .comments {
    padding-bottom: 0.5em;
  }
}
.comment-client-text {
  font-size: 1.125em;
  margin-bottom: 0.9em;
}
@media (max-width: 940px) {
  .comment-client-text {
    font-size: 0.8em;
    line-height: 1.1;
  }
}
.comment-client-quote {
  font-size: 0.9em;
  font-style: italic;
  color: #808080;
}
@media (max-width: 940px) {
  .comment-client-quote {
    font-size: 0.6em;
    line-height: 1.1;
  }
}
.bgr-next-project {
  background-color: #3db39e;
}
.next-project {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.next-project .heading-2 {
  color: #fff;
  padding-top: 60px;
  padding-bottom: 40px;
}
@media (max-width: 940px) {
  .next-project .heading-2 {
    margin-bottom: 0;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
  }
}
.btn-contact-us {
  border: 2px solid #fff;
  margin: auto;
  background-color: #3db39e;
  font-size: 1.125em;
  text-transform: uppercase;
  color: #fff;
  font-weight: bolder;
  transition: 0.3s;
}
.btn-contact-us:hover,
.btn-contact-us:focus,
.btn-contact-us:active {
  border: 2px solid rgba(183, 253, 240, 0.61);
  color: rgba(183, 253, 240, 0.61);
  transition: 0.3s;
  outline: none;
}
.btn-contact-us:active {
  color: #ff8000;
}
.block-logos {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin-top: 35px;
  margin-bottom: 35px;
}
@media (max-width: 940px) {
  .block-logos {
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.block-logo-item {
  width: 190px;
  height: 45px;
  text-align: center;
  border-bottom: 0px solid #3db39e;
  transition: 0.2s;
}
.block-logo-item a {
  display: block;
}
.block-logo-item:hover,
.block-logo-item:focus,
.block-logo-item:active {
  border-bottom: 2px solid #3db39e;
  padding-bottom: 2px;
}
.block-logo-item:active {
  border-bottom: 2px solid #ff8000;
  padding-bottom: 2px;
}
@media (max-width: 940px) {
  .block-logo-item {
    width: 90%;
    height: 55px;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #808080;
  }
  .block-logo-item:last-child {
    margin-bottom: 0;
  }
}
.footer {
  color: #ffffff;
  font-size: 0.8em;
  font-weight: 400;
}
.footer p,
.footer a {
  margin-top: auto;
  margin-bottom: auto;
}
.brg-footer-color {
  background-color: #222222;
}
.info-items {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.info-items a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}
.info-items a:hover {
  transition: 0.3s;
  color: #3DB39E;
}
@media (max-width: 940px) {
  .info-items {
    flex-direction: column;
    padding-top: 35px;
    padding-left: 35px;
    line-height: 100%;
  }
}
.item {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin-top: 40px;
  line-height: 140%;
}
.item:first-child {
  margin-left: 50px;
}
.item:last-child {
  margin-right: 50px;
}
@media (max-width: 940px) {
  .item {
    width: 90%;
    margin: 0;
    margin-bottom: 30px;
  }
  .item:first-child {
    margin-left: 0;
  }
  .item:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}
.heading-5 {
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 700;
  margin-bottom: 1.2em;
}
.list-block {
  display: flex;
  margin-bottom: 0.9em;
}
.list-block:last-child {
  margin-bottom: 0;
}
.list-block img {
  height: 18px;
  width: 18px;
  margin-left: 0;
  margin-right: 0.5em;
}
@media (max-width: 940px) {
  .list-block {
    margin-bottom: 4px;
  }
  .list-block:last-child {
    margin-bottom: 0;
  }
}
.info-items__tweets span {
  color: #808080;
  font-weight: normal;
  font-size: 0.8em;
  font-style: italic;
}
.twitter-tags {
  display: block;
}
.twitter-time {
  display: block;
}
.social-items {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
.social-items p {
  color: #808080;
  font-weight: normal;
  font-size: 0.75em;
}
@media (max-width: 940px) {
  .social-items {
    justify-content: flex-start;
    margin-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
  }
}
.social-logo {
  margin-left: 18%;
}
.social-logo a {
  text-decoration: none;
  margin-right: 15px;
}
.social-logo a:last-child {
  margin-right: 0;
}
.social-logo img {
  height: 44px;
  width: 44px;
}
@media (max-width: 940px) {
  .social-logo {
    margin-left: 0;
  }
  .social-logo a {
    margin-right: 5px;
  }
  .social-logo a:last-child {
    margin-right: 0;
  }
  .social-logo img {
    height: 36px;
    width: 36px;
  }
}
@media (max-width: 940px) {
  .copyright {
    margin-left: 13px;
    padding-right: 20px;
  }
}
