.bgr-photo-header {
    height: 530px;
    background-image: url(../img/bgr/bgr_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.header-content {
    width: 620px;
    @media (max-width: 940px) {
        width: 100%;
    }
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
}