.container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.container-padding {
    padding-top: 80px;
    padding-bottom: 80px;
}

.heading-block {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    align-content: center;
    align-items: center;
}

.container-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

// block Latest-project
.latest-project {
    display: flex;
    //justify-content:center;
    align-items: center;
    flex-direction: column;
    //margin-top: 50px;
}

.latest-project-content-block {
    //border: 1px solid red;
    //align-items: center;
    width: 80%;
    //height: 300px;
    margin-left: 20%;
}

.content-services-block {
   width: 500px; 
}