@bgr-color: #eeeeee;

.block-clients {
    margin-top: 50px;
}

.block-comments {
    display: flex;
    flex-direction: column;

}

.block-comments-1 {
    //height: 100px;
    //width: 100%;
    //background-color: aqua;
}
.block-comments-2 {
    //height: 100px;
    //width: 100%;
    //background-color: rebeccapurple;
}

.photo-client {
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
        height: 160px;
        width: 160px;
        border-radius: 50%;
    }
}

.comment-client {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color:@bgr-color;
    width: 600px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.comments {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
    &:last-child {
        padding-bottom: 0;
    }
}

.comment-client-text {
    font-size: 1.125em;
    margin-bottom: 0.9em;
    //text-align: center;
}

.comment-client-quote {
    font-size: 0.9em;
    font-style: italic;
}