@main-green: #3DB39E;
@footer-bgr-color: #222222;
@color-text: #fff;

.footer {
    color: @color-text;
    font-size: 0.8em;
    font-weight: 400;
    & p, a {
        margin-top: auto;
        margin-bottom: auto;
    }
}

.brg-footer-color{
    background-color: @footer-bgr-color;
}

.info-items {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    & a {
        text-decoration: none;
        color: #fff;
        transition: 0.3s;
        &:hover {
            transition: 0.3s;
            color:#3DB39E;
        }
    }
    @media (max-width: 940px) {
        flex-direction: column;
        padding-top: 35px;
        padding-left: 35px;
        line-height: 100%;
    }
}

.item {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-top: 40px;
    line-height: 140%;
    &:first-child {
        margin-left: 50px;
    }
    &:last-child {
        margin-right: 50px;
    }
    @media (max-width: 940px) {
        width: 90%;
        margin: 0;
        margin-bottom: 30px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }
    }

}

.heading-5 {
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 700;
    margin-bottom: 1.2em;
}

.list-block {
    display: flex;
    margin-bottom: 0.9em;
    &:last-child{
        margin-bottom: 0;
    }
    & img {
        height: 18px;
        width: 18px;
        margin-left: 0;
        margin-right: 0.5em;
    }
    @media (max-width: 940px) {
        margin-bottom: 4px;
        &:last-child{
        margin-bottom: 0;
        }
    }
}

.info-items__tweets {
    //line-height: 140%;
    & span {
        color: #808080;
        font-weight: normal;
        font-size: 0.8em;
        font-style: italic;
    }
}

.twitter-tags {
    display: block;
}

.twitter-time {
    display: block;
}

///////////////////////////////////////////////

.social-items {
    //height: 5em;
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    & p {
        color: rgb(128, 128, 128);
        font-weight: normal;
        font-size: 0.75em;
    }
    @media (max-width: 940px) {
        justify-content: flex-start;
        margin-top: 15px;
        padding-bottom: 15px;
        padding-left: 0;
        padding-right: 0;
    }
}

.social-logo {
    margin-left: 18%;
    & a {
        text-decoration: none;
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
    }
    & img {
        height: 44px;
        width: 44px;
    }
    @media (max-width: 940px) {
        margin-left: 0;
        a {
            margin-right: 5px;
            &:last-child {
                margin-right: 0;
            }
        }
        img {
            height: 36px;
            width: 36px;
        }
    }
}

.copyright {
    @media (max-width: 940px) {
        margin-left: 20px;
        padding-right: 20px;
    }
}