@main-green: #3DB39E;

.bgr-next-project {
    background-color: @main-green;

}

.next-project {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    & .heading-2 {
        color: #fff;
        padding-top: 60px;
        padding-bottom: 40px;
        @media (max-width: 940px) {
            margin-bottom: 0;
            padding-top: 1.1em;
            padding-bottom: 1.1em;
        }

    }
}

.btn-contact-us {
    border: 2px solid #fff;
    margin: auto;
    background-color: @main-green;
    font-size: 1.125em;
    text-transform: uppercase;
    color: #fff;
    font-weight: bolder;
    //margin-bottom: 30px;
    transition: 0.3s;
    &:hover, &:focus, &:active {
        border: 2px solid rgba(183, 253, 240, 0.61);
        color: rgba(183, 253, 240, 0.61);
        transition: 0.3s;
        outline: none;
    }
    &:active {
        color: #ff8000;
    }
}