
.special-bgr-block {
    height: 530px;
    display: flex;
    flex-direction: row;
    //border: 1px solid red;

}

.special-bgr-block-icon {
    width: 30%;
    background-color:#eeeeee;
    position: relative;
}

.special-bgr-block-icon:after {
    display: block;
    width: 200px;
    height: 100%;
    position: absolute;
    content: "";
    background-image: url(../img/bgr/bgr_gear.png);
    background-repeat: no-repeat;
    background-position: left center;
    //background-size: cover;
    //background-color: aqua;
    right: 0px;
    top: 0px;
}

.special-bgr-block-photo {
    width: 70%;
    background-image: url(../img/bgr/brg_just_relax.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}